body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.sticky-navbar {
  background-color: #fef7e2;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
  
nav a {
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: x-large;
  font-weight: bolder;
  color: #11161b;
  padding: 1px 20px;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 10px;
}
.logo img{
  width: 6.5ch;
}
.nav-right {
  display: flex;
}
  /* Dodanie odstępu na treść pod paskiem nawigacyjnym */
body.padding-for-nav {
  padding-top: 80px;
}
.hero{
  background-image: url('Media/BCG_Home.png');
}
.hero-gallery {
  background-image: url('Media/kociaKawiarnia.png');
}
.hero, .hero-gallery{
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* efekt paralaksy */
  position: relative;
  color: #11161b;
  padding: 100px 0px;
  text-align: center;
}
.hero:before, .hero-gallery:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fef7e2;
  opacity: 0.7;
  z-index: 1;
}
.hero > * {
  position: relative;
  z-index: 2;
}
.hero-gallery > * {
  position: relative;
  z-index: 2;
}
.hero, .hero-gallery h1 {
  font-size: 48px;
  margin: 0;
}
.hero img {
  width: 12%;
}
.hero p {
  font-size: 20px;
  line-height: 1.6;
}
/* Your additional styles */
.articles, .last-photos {
  padding: 2% 1% 8% 1%;
  background-color: #48534c;
  color: #fef7e2;
}

.articles, .last-photos h2 {
  font-size: 36px;
  text-align: center;
}

.articles-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articles-image-container {
  position: relative;
  margin: 10px;
  width: calc(25% - 20px);
}

.articles-image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.articles-image-container:hover img {
  transform: scale(1.1);
  opacity: 0.1;
}

.article-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2.2vw;
}

.articles-image-container:hover .article-title {
  display: block;
}

@media (max-width: 768px) {
  .articles-image-container {
    width: calc(50% - 20px);
  }
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #11161b;
  padding: 2% 1% 4% 1%;
  background-color: #fff5e6;
}

.review h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.review-content {
  display: flex;
  align-items: center;
  text-align: left;
}

.review-image-container {
  flex: 1; 
  margin-right: 20px; 
}

.review img {
  max-width: 100%;
  height: auto;
}

.review-text {
  flex: 2;
  text-align: left; 
}

.review-text p {
  text-align: center;
}
.review-text p:first-of-type{
  font-size: 1.4vw;
  font-style: italic;
}
.review-text p:last-of-type{
  font-size: 1.6vw;
}

.footer-at-bottom {
  background-color: #fff5e6; 
  color: #3c3c3b;
  padding: 20px;
  text-align: center;
}
.footer-at-bottom img{
  width: 3em;
  margin-right: 20px;
}
.about {
  background-color: #11161b;
  color: #fff5e6;
  padding: 50px 20px;
  text-align: center;
}
.about h2 {
  font-size: 36px;
}
.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
}

  /* Style dla sekcji kontaktowej */
.contact {
  background: #f5f5f5;
  padding: 50px 20px;
  text-align: center;
}
.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.contact form {
  max-width: 500px;
  margin: auto;
}
.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.contact button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}
  
    /* Odpowiednia responsywność dla formularza kontaktowego */
@media (max-width: 768px) {
  .contact form {
    width: 90%;
  }
}
  
    /* Dodatkowe poprawki responsywności */
@media (max-width: 1024px) {
  .article {
    width: calc(50% - 30px);
  }
}
/* General Styles for the 'last-photos' section */
.last-photos {
  text-align: center;
  margin-bottom: 20px;
}

/* Carousel container styles */
.carousel {
  position: relative;
  max-width: 400px;
  height: 400px;
  max-height: 100vh;
  margin: 20px auto;
  overflow: hidden;
  user-select: none;
}

/* Styles for each carousel item */
.carousel__item {
  position: absolute;
  z-index: 1;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: contain;
  transition: left 0.5s, transform 0.5s;
  will-change: transform;
  backface-visibility: hidden;
}

/* Styles for the navigation arrows */
.carousel__arrow {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  opacity: 0.7;
  color: #fff;
  background-color: #999;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  line-height: 39px;
  font-weight: bold;
}

/* Hide the radio buttons */
input[type="radio"] {
  display: none;
}

/* Show the carousel item when its corresponding radio button is checked */
input:checked + div .carousel__item {
  display: block;
}

/* Position and scale transformations for the carousel items */
input:checked + div .carousel__item {
  left: -100%;
  transform: scale(0.4);
}
input:checked + div + input + div .carousel__item {
  left: 0;
  transform: scale(1);
}
input:checked + div + input + div + input + div .carousel__item {
  left: 100%;
  transform: scale(0.4);
}

/* Positioning the navigation arrows */
input:checked + div .carousel__arrow {
  left: 10px;
}
input:checked + div + input + div + input + div .carousel__arrow {
  right: 10px;
}

/* Arrow symbols */
input:checked + div .carousel__arrow:before {
  content: '❰';
}
input:checked + div + input + div + input + div .carousel__arrow:before {
  content: '❱';
}
